		#fixed-banner {
			backdrop-filter: blur(var(--glass-blur));
			box-shadow: var(--shadow-w-s);
			position: fixed;
			top: 0;
			left: 0px;
			width: 100%;
			height: 30px;
			background-color: rgba(0,0,0,0.5);
			color: white;
			display: flex;
			align-items: center;
			justify-content: center;
			overflow: hidden;
			z-index: 1000;
			animation: announcement-intro 1.0s ease forwards;
			transition: all 0.5s ease;
		}
		#fixed-banner.dark {
			background-color: rgba(255,255,255,0.8);
			box-shadow: var(--shadow-b-s);
			color: black;
		}
		.message {
			filter:blur(10px);
			font-family: 'fillet';
			position: absolute;
			width: 100%;
			text-align: center;
			font-size: 15px;
			opacity: 1;
			transform: translateY(200%);
			transition: all 0.5s ease-in-out;
			/*font-weight: 900;*/
		}
		.message.dark {
			color: black;
		}
		.message.active {
			filter:blur(0px);
			opacity: 1;
			transform: translateY(0);
		}
		.message.exit {
			filter:blur(10px);
			opacity: 1;
			transform: translateY(-200%);
		}

		@keyframes announcement-intro {
			from {
				opacity: 0;
				transform: translateY(-40px);
			}
			to {
				opacity: 1;
				transform: translateY(0px);
			}
		}