		.dot {
			backdrop-filter: blur(var(--glass-blur));
			box-shadow: var(--shadow-w-l);
			position: fixed;
			width: 20px;
			height: 20px;
			background-color: rgba(0, 0, 0, 1.0);
			border-radius: 50%;
			transform: translate(-50%, -50%);
			pointer-events: none;
			animation: dot-fadeOut 0.5s ease-out forwards;
			z-index: 2147483647;
			transition: all 0.5s ease;
		}
		.dot.dark {
			box-shadow: var(--shadow-w-l);
			background-color: rgba(0, 0, 0, 0.5);
		}
		
		@keyframes dot-fadeOut {
			to {
				opacity: 0;
				transform: translate(-50%, -50%) scale(5.0);
			}
		}