        #fixed-button {
			position: fixed;  
			top: 40px;     
			left: 10px;     
			z-index: 1000;   
		}
        #fixed-button-right {
			position: fixed;  
			top: 40px;     
			right: 10px;     
			z-index: 1000;
		}
		#fixedThemeButton {
			position: fixed;  
			top: 60px;     
			right: 70px;     
			z-index: 1000; 
		}