        .btn-view {
            font-size:15px;
			background:#D2D1D6;
			color:#000000;
			padding:12px;
			border-radius: 0px;
			border: 2px solid #EEEEEF;
			border-bottom: 4px solid #5A5A5C;
			border-left: 2px solid #E0E0E0;
			border-top: 2px solid #E5E5E7;
			border-right: 2px solid #E5E5E7;
			transition: all 0.3s ease;
			transform: translateY(0px);
			outline: 2px solid #000000;
        }
        
        .btn-view:hover {
            background:#43942B;
			color:#ffffff;
			padding:10px;
			border-radius: 0px;
			border: 2px solid #599751;
			border-bottom: 2px solid #558547;
			border-left: 2px solid #558547;
			border-top: 2px solid #599751;
			border-right: 2px solid #599751;
			transform: translateY(4px);
			transition: all 0.3s ease;
			outline: 2px solid #000000;
        }
        
        #itemList {
            list-style: none;
            padding: 0;
            margin-top: 0px;
        }
        
        #itemList li {
			backdrop-filter: blur(var(--glass-blur));
			box-shadow: var(--shadow-b-l);
			font-family: monospace;
			font-size: 16px;
            padding: 10px;
            background-color: rgba(247,248,249,1);
            border-radius: 5px;
            margin-bottom: 5px;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        #itemList.dark li {
			box-shadow: var(--shadow-w-l);
			background-color: rgba(255,255,255,0.25);
			color:white;
        }

        #log li {
			backdrop-filter: blur(var(--glass-blur));
			box-shadow: var(--shadow-b-l);
			font-family: monospace;
			font-size: 16px;
            padding: 6px;
            background-color: rgba(247,248,249,1);
            border-radius: 5px;
            margin-bottom: 5px;
            display: flex;
            justify-content: space-between;
            align-items: center;
			color:black;
        }
        #log.dark li {
			box-shadow: var(--shadow-w-l);
			background-color: rgba(255,255,255,0.25);
			color:white;
        }
        
        .list-container {
			backdrop-filter: blur(var(--glass-blur));
			box-shadow: var(--shadow-b-l);
            max-height: 200px;
            overflow-y: auto;
            background:rgba(226,225,230,1);
			color:#000000;
			padding:12px;
			border-radius: 0px;
			border: 0px solid #EEEEEF;
			border-bottom: 0px solid #5A5A5C;
			border-left: 0px solid #E0E0E0;
			border-top: 0px solid #E5E5E7;
			border-right: 0px solid #E5E5E7;
			transition: all 0.05s ease;
			transform: translateY(0px);
			outline: 2px solid #000000;
            padding: 10px;
            margin-top: 10px;
            display: none;
        }
		.list-container.dark {
			background:rgba(17,16,17,0.5);
		}

        .log-container {
			width: 50;
			backdrop-filter: blur(var(--glass-blur));
			box-shadow: var(--shadow-b-l);
            max-height: 600px;
            overflow-y: auto;
            background:rgba(226,225,230,1);
			color:#000000;
			padding:12px;
			border-radius: 0px;
			border: 0px solid #EEEEEF;
			border-bottom: 0px solid #5A5A5C;
			border-left: 0px solid #E0E0E0;
			border-top: 0px solid #E5E5E7;
			border-right: 0px solid #E5E5E7;
			transition: all 0.05s ease;
			transform: translateY(0px);
			outline: 2px solid #000000;
            padding: 10px;
            margin-top: 10px;
        }
		.log-container.dark {
			background:rgba(17,16,17,0.5);
		}
        
        .visible {
            display: block;
        }