		#openBtn {
			backdrop-filter: blur(var(--glass-blur));
			opacity: var(--btn-o);
			box-shadow: var(--shadow-w-s);
			font-family: 'fillet';
			width:150px;
			background:#D2D1D6;
			color:#000000;
			padding:12px;
			border-radius: 0px;
			border: 2px solid #EEEEEF;
			border-bottom: 4px solid #5A5A5C;
			border-left: 2px solid #E0E0E0;
			border-top: 2px solid #E5E5E7;
			border-right: 2px solid #E5E5E7;
			transition: all 0.5s ease;
			transform: translateY(0px);
			outline: 2px solid #000000;
			font-size: 16px;
			z-index: 1;
		}
		#openBtn::before {
			opacity:0;
			transform:translate(-50%, -50%);
			transition: all 0.5s ease;
			left:50%;
			top:100%;
			content:'';
			width:0%;
			background:#ffffff;
			padding:1px;
			border-radius: 0px;
			position:absolute;
			z-index: 1;
		}

		#openBtn:hover {
			backdrop-filter: blur(var(--glass-blur));
			opacity: var(--btn-o);
			box-shadow: none;
			width:150px;
			background:#43942B;
			color:#ffffff;
			padding:10px;
			border-radius: 0px;
			border: 2px solid #599751;
			border-bottom: 2px solid #558547;
			border-left: 2px solid #558547;
			border-top: 2px solid #599751;
			border-right: 2px solid #599751;
			transform: translateY(4px);
			transition: all 0.5s ease;
			outline: 2px solid #000000;
			animation: now-block 0.5s ease forwards;
		}
		#openBtn:hover::before {
			opacity:1;
			transform:translate(-50%, -50%);
			transition: all 0.5s ease;
			left:50%;
			top:100%;
			content:'';
			width:40%;
			background:#ffffff;
			padding:1px;
			border-radius: 0px;
			position:absolute;
			z-index: 1;
		}
		
		.modal {
			filter: blur(20px);
			backdrop-filter: blur(var(--glass-blur));
			font-family: 'fillet';
			position: fixed;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			display: flex;
			justify-content: center;
			align-items: center;
			opacity: 0;
			visibility: hidden;
			transition: all 0.5s ease;
			z-index: 1002;
		}
		
		.modal.active {
			filter: blur(0px);
			backdrop-filter: blur(var(--glass-blur));
			font-family: 'fillet';
			opacity: 1;
			visibility: visible;
			overflow: hidden;
		}
		
		.modal-overlay {
			backdrop-filter: blur(var(--glass-blur));
			font-family: 'fillet';
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background: rgba(0,0,0,0.5);
			opacity: 0;
			transition: opacity 0.3s ease;
		}
		
		.modal.active .modal-overlay {
			backdrop-filter: blur(var(--glass-blur));
			font-family: 'fillet';
			opacity: 1;
		}
		
		.modal-content {
			backdrop-filter: blur(var(--glass-blur));
			color: white;
			font-family: 'fillet';
			background: rgba(0,0,0,0.7);
			padding: 25px;
			border-radius: 2px;
			border: 0px solid #CACACA;
			outline: 2px solid #000000;
			box-shadow: var(--shadow-w-l);
			transform: scale(0.7);
			opacity: 0;
			transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
			position: relative;
			max-width: 65%;
			width: 90%;
			z-index: 1000;
		}
		.modal-content.dark {
			backdrop-filter: blur(2px);
			color: black;
			background: rgba(255,255,255,0.5);
			outline: 2px solid #FFFFFF;
			box-shadow: var(--shadow-b-l);
		}
		
		.modal.active .modal-content {
			backdrop-filter: blur(var(--glass-blur));
			font-family: 'fillet';
			transform: scale(1);
			opacity: 1;
		}
		
		.close-btn {
			backdrop-filter: blur(var(--glass-blur));
			font-family: 'fillet';
			background: rgba(256,256,256,0.5);
			border-radius: 8px;
			padding: 2px 5px;
			position: absolute;
			top: 10px;
			right: 15px;
			font-size: 20px;
			color: #ffffff;
			cursor: pointer;
			transition: all 0.3s ease;
			transform: translate(-4px);
		}
		.close-btn.dark {
			backdrop-filter: blur(var(--glass-blur));
			background: rgba(150,150,150,1.0);
			color:black;
		}
		
		.close-btn:hover {
			backdrop-filter: blur(var(--glass-blur));
			background: rgba(150,150,150,0.5);
		}
		.close-btn.dark:hover {
			backdrop-filter: blur(var(--glass-blur));
			background: rgba(50,50,50,1.0);
		}