		/* 主容器样式 */
		.container {
			max-width: 1900px;
			margin: -50 auto;
		}
		
		/* 标题样式 */
		.header {
			color: black;
			font-weight: normal;
			text-align: center;
			margin-bottom: 40px;
			transition: all 0.5s ease;
		}
		.header.dark {
			color: white;
		}

		.shadow {
			background: white;
			border-radius: 8px;
			padding: 300px;
			margin: -10;
			margin-bottom: 30px;
			box-shadow: 0 2px 10px rgba(0,0,0,0.1);
			transform: scale(1.1);
			opacity: 0;
			animation: scaleIn 1.0 ease forwards;
		}
		
		#shadow-fix {
			position: fixed;  
			top: 100px;	 
			left:10px;	 
		}

		/* 按钮组样式 */
		.button-group {
			display: flex;
			justify-content: center;
			gap: 20px;
			margin-bottom: 40px;
			flex-wrap: wrap;
			animation: scaleIn 1.0s ease forwards;
		}
		
		/* 按钮样式 */
		.btn {
			position:relative;
			backdrop-filter: blur(var(--glass-blur));
			opacity: var(--btn-o);
			box-shadow: var(--shadow-w-s);
			font-family: 'fillet';
			width:150px;
			background:#D2D1D6;
			color:#000000;
			padding:12px;
			border-radius: 0px;
			border: 2px solid #EEEEEF;
			border-bottom: 4px solid #5A5A5C;
			border-left: 2px solid #E0E0E0;
			border-top: 2px solid #E5E5E7;
			border-right: 2px solid #E5E5E7;
			transition: all 0.5s ease;
			transform: translateY(0px);
			outline: 2px solid #000000;
			font-size: 16px;
			z-index: 1;
		}
		.btn::before {
			opacity:0;
			transform:translate(-50%, -50%);
			transition: all 0.5s ease;
			left:50%;
			top:100%;
			content:'';
			width:0%;
			background:#ffffff;
			padding:1px;
			border-radius: 0px;
			position:absolute;
			z-index: 1;
		}
		
		.btn:hover {
			backdrop-filter: blur(var(--glass-blur));
			opacity: var(--btn-o);
			box-shadow: none;
			font-family: 'fillet';
			width:150px;
			background:#43942B;
			color:#ffffff;
			padding:10px;
			border-radius: 0px;
			border: 2px solid #599751;
			border-bottom: 2px solid #558547;
			border-left: 2px solid #558547;
			border-top: 2px solid #599751;
			border-right: 2px solid #599751;
			transform: translateY(4px);
			transition: all 0.5s ease;
			outline: 2px solid #000000;
			animation: now-block 0.5s ease forwards;
		}
		.btn:hover::before {
			transition: all 0.5s ease;
			opacity:1.0;
			transform:translate(-50%, -50%);
			left:50%;
			top:100%;
			content:'';
			width:40%;
			background:#ffffff;
			padding:1px;
			border-radius: 0px;
			position:absolute;
			z-index: 1;
		}
		
		.btn.hightlight {
			backdrop-filter: blur(var(--glass-blur));
			opacity: var(--btn-o);
			box-shadow: none;
			font-family: 'fillet';
			background-color: #43942B;
			transform: translateY(0px);
			animation: now-block 0.5s ease forwards;
		}
		.btn.hightlight::before {
			transition: all 0.5s ease;
			opacity:1.0;
			transform:translate(-50%, -50%);
			left:50%;
			top:100%;
			content:'';
			width:40%;
			background:#ffffff;
			padding:1px;
			border-radius: 0px;
			position:absolute;
			z-index: 1;
		}

		/* 内容区块样式 */
		.content-block {
			background: white;
			border-radius: 8px;
			padding: 40px;
			margin: -10px;
			margin-bottom: 30px;
			box-shadow: var(--shadow-b-s);
			transform: scale(1.1);
			opacity: 0;
			animation: scaleIn 1.5s ease forwards;
			transition: all 0.5s ease;
		}
		.content-block.dark {
			background: #171617;
			box-shadow: var(--shadow-w-l);
		}

		/* 内容介绍区域 */
		.content-intro {
			color: block;
			box-shadow: var(--shadow-b-s);
			display: none;
			background: #f9f9f9;
			padding: 20px;
			border-radius: 8px;
			margin-top: 10px;
			border-left: 4px solid #4EA1FF;
			transition: all 0.5s ease;
		}
		.content-intro.dark {
			border-left: 4px solid #FEFB41;
			background: #2F2E30;
			box-shadow: var(--shadow-w-l);
			color: white;
		}

		.highlight {
			font-size:16px;
			border:none;
			color:black;
			background:rgba(0,0,0,0.3);
			transition: all 0.5s ease;
		}
		.highlight.dark {
			color:white;
			background:rgba(255,255,255,0.3);
		}
		
		.foot {
			color:black;
			align-items: center;
			text-align: center;
			height:15%;
			padding:5px;
			border-radius:10px;
			background:rgba(255,255,255,1.0);
			position: relative;
			transition: all 0.5s ease;
		}
		.foot.dark {
			color:white;
			background:#2f2e30;
			transition: all 0.5s ease;
		}
		.foot::after , .foot::before {
			display:block;
			content:'';
			position:absolute;
			transform:translate(-50%, -50%);
			top:50%;
			left:50%;
			width:100%;
			height:100%;
			background-image:conic-gradient(#aa0000,#0000aa,#880088,#aa0000);
			z-index:-1;
			padding:3px;
			border-radius:13px;
			transition: all 0.5s ease;
		}
		.foot.dark::after , .foot.dark::before {
			display:block;
			content:'';
			position:absolute;
			transform:translate(-50%, -50%);
			top:50%;
			left:50%;
			width:100%;
			height:100%;
			background-image:conic-gradient(#660000,#000099,#990099,#660000);
			z-index:-1;
			padding:3px;
			border-radius:13px;
			transition: all 0.5s ease;
		}
		.foot::before , .foot.dark::before {
			padding:10px;
			opacity:0.5;
			filter:blur(5px);
		}

		/* 动画关键帧 */

		@keyframes scaleIn {
			0% {
				transform: scale(1.2);
				opacity: 0;
			}
			50% {
				filter:blur(20px);
				transform: scale(1.2);
				opacity: 0;
			}
			100% {
				filter:blur(0px);
				transform: scale(1);
				opacity: 1;
			}
		}

		
		@keyframes list-intro {
			0% {
				transform: translateX(-100px);
				opacity: 0;
			}
			50% {
				transform: translateX(-100px);
				opacity: 0;
			}
			100% {
				transform: translateX(0px);
				opacity: 1;
			 }
		}
		
		/* 响应式设计 */
		@media (max-width: 768px) {
			.button-group {
				flex-direction: column;
				align-items: center;
			}
			
		}