:root {
	/* shadow */
	--shadow-w-s:
		inset 0px 1px 2px rgba(255,255,255,0.7),
		0px 1px 2px rgba(0,0,0,0.3),
		0px 2px 4px rgba(0,0,0,0.15);

	--shadow-w-m:
		inset 0px 1px 2px rgba(255,255,255,0.7),
		0px 2px 4px rgba(0,0,0,0.3),
		0px 4px 8px rgba(0,0,0,0.15);

	--shadow-w-l:
		inset 0px 1px 3px rgba(255,255,255,0.7),
		0px 4px 6px rgba(0,0,0,0.3),
		0px 6px 10px rgba(0,0,0,0.15);

	--shadow-b-s:
		inset 0px 1px 2px rgba(0,0,0,0.7),
		0px 1px 2px rgba(255,255,255,0.3),
		0px 2px 4px rgba(255,255,255,0.15);

	--shadow-b-m:
		inset 0px 1px 2px rgba(0,0,0,0.7),
		0px 2px 4px rgba(255,255,255,0.3),
		0px 4px 8px rgba(255,255,255,0.15);

	--shadow-b-l:
		inset 0px 1px 3px rgba(0,0,0,0.7),
		0px 4px 6px rgba(255,255,255,0.3),
		0px 6px 10px rgba(255,255,255,0.15);


	/* liquid glass */
	--glass-bg: rgba(255, 255, 255, 0.15);
	--glass-border: rgba(255, 255, 255, 0.25);
	--glass-shadow: 0 8px 32px rgba(31, 38, 135, 0.37);
	--glass-blur: 2px;

	/* btn */
	--btn-o:0.95;
}

.logHighlight {
	backdrop-filter: blur(var(--glass-blur));
	-webkit-backdrop-filter: blur(var(--glass-blur));
	outline:1px solid rgba(0,0,0,0.6);
	font-size:16px;
	border:none;
	color:rgba(0,0,255,0.7);
	background:rgba(255,255,255,0.3);
}
.logHighlight-error {
	backdrop-filter: blur(var(--glass-blur));
	-webkit-backdrop-filter: blur(var(--glass-blur));
	outline:1px solid rgba(0,0,0,0.6);
	font-size:16px;
	border:none;
	color:rgba(255,0,0,0.7);
	background:rgba(255,255,255,0.3);
}
.logHighlight-name {
	backdrop-filter: blur(var(--glass-blur));
	-webkit-backdrop-filter: blur(var(--glass-blur));
	outline:1px solid rgba(0,0,0,0.6);
	font-size:16px;
	border:none;
	color:rgba(25,25,25,0.7);
	background:rgba(255,255,255,0.3);
}










