		@keyframes now-block {
			100% {
				width:150px;
				background:#43942B;
				color:#ffffff;
				padding:10px;
				border-radius: 0px;
				border: 2px solid #599751;
				border-bottom: 2px solid #558547;
				border-left: 2px solid #558547;
				border-top: 2px solid #599751;
				border-right: 2px solid #599751;
				transform: translateY(4px);
				transition: all 0.05s ease;
				outline: 2px solid #000000;
				box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.5);
				font-weight: 900;
			}
		}

	.highlight {
		animation: now-block 0.5s circ-in forwards;
	}